@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ------ Add your CSS below this line (or @import your other CSS files). ------- */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@layer base {
  html {
    font-family: 'Rubik', sans-serif;
    background: hsl(226, 43%, 10%);
    color: #fff;
    @apply p-4;
  }
  h1 {
    @apply text-2xl font-bold text-red-500;
  }
  h2 {
    @apply text-xl;
  }
  header {
    background: hsl(235, 46%, 20%);
    @apply rounded-2xl;
  }
  .container {
    @apply mx-auto;
  }
  .flex-container {
    @apply flex;
  }
  header .container .flex-container:nth-of-type(1) {
    @apply flex flex-row items-center justify-center rounded-2xl py-9;
    background: hsla(246, 80%, 60%, 1);
  }
  header .container img {
    @apply w-16 mr-4 border-2 border-white rounded-full;
  }
  nav {
    @apply flex flex-row justify-around py-6;
  }
  nav a {
    
  }
  dt {
    color: hsla(236, 100%, 87%, 1);
    @apply text-sm;
  }
  dd {
    @apply text-2xl;
  }
  p {
  }
}

@layer components {
  .btn-blue {
    @apply block px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700;
  }
}

@layer utilities {
  @variants hover, focus {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  }
}
